<!DOCTYPE html>
<html>
  <head>
    <title>Feed Deck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#fff">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope)
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err)
          })
        })
      }
    </script>
  </head>
  
